<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <body>
    <h1>Profile Page</h1>
    <p>Welcome, <%= user.user_name %>!</p>
    <!-- DB에 저장된 사용자 이름 표시 -->
    <p>Your email: <%= user.email %></p>
    <!-- DB에 저장된 사용자 이메일 표시 -->
    <p>Your nickname: <%= user.nickname %></p>
    <!-- DB에 저장된 사용자 닉네임 표시 -->
    <p>Your phone: <%= user.phone %></p>
    <!-- DB에 저장된 사용자 전화번호 표시 -->
    <p>Your birthdate: <%= user.birth %></p>
    <!-- DB에 저장된 사용자 생일 표시 -->
  </body>
</html>
